<div class="container">
  <div class="title">
    Books
    <span style="font-size: 15px; color: rgb(139, 136, 136);"
    >({{ size }} items)</span
    >
  </div>
  <!--  <div style="width: 15%; height: 30%; border: 3px; outline-color: green;border-color: green ;padding: 2px;margin-right: 10%">-->
  <!--    <button style="background-color: white; border-radius: 3px ; color: green" (click)="requestdata()">click to get verified list</button>-->
  <!--  </div>-->
  <!--  <div style="width: 15%; height: 30%; border: 3px; padding: 2px;margin-right: 10%;">-->
  <!--    <select [(ngModel)]='sortTerm' (ngModelChange)='onSelect($event)'>-->
  <!--      <option value="none">sort by relevance</option>-->
  <!--      <option value="Verified">Verified Books</option>-->
  <!--      <option value="Unverified">Unverified Books</option>-->
  <!--    </select>-->
  <!--  </div>-->
</div>

<div
  class="main-div"
  fxLayoutGap="40px"
  fxLayout.lt-sm="column"
  fxLayout.sm="row wrap"
  fxLayoutAlign.sm="start center"
  fxLayout.md="row wrap"
  fxLayoutAlign.md="start center"
  fxLayoutAlign.lt-sm="center center"
  fxLayout.lg="row wrap"
  fxLayoutAlign.lg="start start"
>
  <div
    *ngFor="let book of allBooks  | bookFilter:searchTerm | paginate: { itemsPerPage: 4, currentPage: page, id: 'first' } ;let i = index"
    style="margin: 0px; " fxLayout="row">
    <mat-card>

      <div class="bookImageDiv" fxLayoutAlign="center">
        <img src="{{ book.bookImgUrl }}"/>
      </div>

      <div class="bookInfoDiv" fxLayout="column">
        <div class="input-title">
          {{ book.bookName }}
        </div>
        <div fxlayout="row" class="input-author">by {{ book.authorName }}</div>
        <div fxlayout="row">
          <span class="input-price-span">Rs. {{ book.price }}</span>
        </div>
        <!--        for new  Request      -->
        <div *ngIf="book.disapproved === false && book.verfied === false" fxLayout="row"
             fxLayoutAlign="space-between">
          <button
            class="delete-button"
            mat-raised-button
            fxLayoutAlign="center"
            [disableRipple]="true"
            (click)="onDisapproval(book.bookId, book.sellerId)"
          >
            Disapprove
          </button>
          <button
            class="update-button"
            mat-raised-button
            fxLayoutAlign="center"
            [disableRipple]="true"
            (click)="onApproval(book.bookId, book.sellerId)"
          >
            Approve
          </button>
        </div>
        <!--        after admin response-->
        <div *ngIf="book.disapproved === true" fxLayout="row"
             fxLayoutAlign="space-between">
          <button
            style="
          height: 32px;
          width: 100%;
          background-color: darkred;
          border-radius: 2px;
          color: white;
          font-size: 14px;
          font-family: Lato, sans-serif, Bold;
          text-align: center;"
            mat-button
            class="disapr-button" mat-raised-button
            fxLayoutAlign="center" [disableRipple]="true"
          >
            Disapproved
          </button>
        </div>
        <div *ngIf="book.verfied === true" fxLayout="row"
             fxLayoutAlign="space-between">
          <button
            style="
          height: 32px;
          width: 100%;
          align-content: center;
          background-color: darkgreen;
          border-radius: 2px;
          color: white;
          font-size: 14px;
          font-family: Lato, sans-serif, Bold;
          text-align: center;"
            mat-button
            class="apr-button" mat-raised-button
            fxLayoutAlign="center" [disableRipple]="true"
          >
            Approved
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<div class="paginator">
  <pagination-controls align="center"
    (pageChange)="page = $event"
    id="first"
  ></pagination-controls>
</div>
