<div class=main-div>
    <mat-card style="width: 20em; height: 52vh; box-shadow: 1px 1px 7px 0px;">
      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm.value)">      
        <!-- <div fxLayoutAlign="space-around center" fxFlex="100">
            <mat-card fxFlex="30" class="card" fxFlex.xs="100"> -->
              
              <div><img id="bookstore_logo" src="../../../assets/image/2766594.png"/></div>
                <div align="center"><label style="font-size:20px;"><b>Forgot Password </b></label></div><br><br>
              
              <div class="form-group" class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Email ID*" type="emailId" formControlName="emailId"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
                    <mat-icon matSuffix>email</mat-icon>
                      <mat-error *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                          <mat-error *ngIf="f.emailId.errors.required">*emailId is <strong>required</strong></mat-error>
                      </mat-error>
                </mat-form-field>
              </div>
          
              <div class="form-group" class="example-container">
                <button class="link" mat-flat-button (click)="login()">Back To Login?</button>
                  <div align="center" >
                    <button mat-button id="nextbutton">Submit</button>
                  </div>
              </div>
        </form>
    </mat-card>
  </div>  
  