<!--<div class="container">-->
<!--  <div class="title">-->
<!--    Books-->
<!--    <span style="font-size: 15px; color: rgb(139, 136, 136);"-->
<!--    >({{ size }} items)</span-->
<!--    >-->

<!--</div>-->
<!--<div fxLayout="column" fxLayoutAlign="center center">-->
<!--  <div fxLayout="row" class="display-notes">-->
<!--    <div *ngFor="let book of bookList" class="book">-->
<!--      <mat-card autocomplete="off" role="combobox" flex="column" matTooltip="Book details &#13; {{ book.bookDetails }}"-->
<!--                matTooltipPosition="right" matTooltipClass="custom-tooltip">-->
<!--        <div class="header" style="background-color: #f5f5f5;">-->
<!--          <mat-card-header>-->
<!--            <div class="container">-->
<!--              <img mat-card-image fxLayoutAlign="center start" src="{{ book.bookImgUrl }}" alt="Snow"-->
<!--                   (click)="ratingAndReviews(book)"/>-->
<!--              &lt;!&ndash; <button *ngIf="book.noOfBooks == 0" class="btn">-->
<!--          <strong>OUT OF STOCK</strong>-->
<!--        </button> &ndash;&gt;-->

<!--            </div>-->
<!--          </mat-card-header>-->
<!--        </div>-->
<!--        <div class="content">-->
<!--          <mat-card-content>-->
<!--            <div class="mat-title" (click)="ratingAndReviews(book)">-->
<!--              {{ book.bookName }}-->
<!--            </div>-->
<!--            <mat-card-subtitle (click)="ratingAndReviews(book)"-->
<!--                               style="color: #9d9d9d; margin-top: -10px; margin-bottom: 7px;">by {{ book.authorName }}-->
<!--            </mat-card-subtitle>-->
<!--            <div class="mat-subheading-1">Rs. {{ book.price  }}</div>-->
<!--          </mat-card-content>-->
<!--          <mat-card-actions (click)="ratingAndReviews(book)"-->
<!--                            style="margin-bottom: -0.5%; margin-top: -1%; padding: 0 34px 0 4px;">-->
<!--          </mat-card-actions>-->
<!--          <mat-card-actions fxLayout="row" fxLayoutGap="7%">-->
<!--            <button mat-raised-button class="box1" (click)="disApproveBook(book.bookId, book.sellerId)">-->
<!--              DISAPPROVE-->
<!--            </button>-->

<!--            &lt;!&ndash; </ng-template> &ndash;&gt;-->
<!--            <button mat-raised-button class="box" [ngStyle]="{ color: 'white'}"-->
<!--                    (click)="approveBook(book.bookId, book.sellerId)">-->
<!--              APPROVE-->
<!--            </button>-->
<!--          </mat-card-actions>-->
<!--        </div>-->
<!--      </mat-card>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="footer" *ngIf="bookList.length > 2; else foot">-->
<!--    <button class="footerButton">-->
<!--      Copyright © 2020, Bookstore Private Limited. All Rights Reserved-->
<!--    </button>-->
<!--  </div>-->
<!--  <ng-template #foot>-->
<!--    <button class="footerButton">-->
<!--      Copyright © 2020, Bookstore Private Limited. All Rights Reserved-->
<!--    </button>-->
<!--  </ng-template>-->
<!--</div>-->
