<mat-card>
<mat-card-title class="title">My Wishlist</mat-card-title>
<div *ngFor="let book of books ">
  <mat-card class="card">
    <mat-card-title matTooltip="Book Image"
    ><img
      src="{{ book.bookImgUrl }}"
      style="
            height: 105px;
            width: 89px;
            margin-top: -31px;
            margin-left: 21px;
            margin-right: 55px;
            padding-top: 20px;
            padding-bottom: 21px;
          "
    />
    </mat-card-title>
    <mat-card-content>
      <div class="mat-content1">
        <p class="book-names3">{{ book.bookName }}</p>
        <p class="book-names4">{{ book.authorName }}</p>
        <p class="book-names5">Rs.{{ book.price }}</p>
      </div>
      <div class="buttonArr">
        <button class="buttonstyle" mat-button (click)="addToCart(book.bookId)"><p class="p1">AddToCart</p></button>
        <button class="buttonstyle1" mat-button (click)="removeFromWishList(book.bookId)"><p class="p1">Remove</p>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
</mat-card>
