<div style="width: 100%; height: 30%;">
  <mat-toolbar style="width: 100%; height: 8%;" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="titleText" fxLayoutGap="3%">
      <img src="../../../assets/image/education.svg" />
      <a
        href="http://localhost:4200/dashboard/books"
        style="color: white;text-decoration: none;"
        >BookStore</a
      >
    </div>
    <mat-card
      class="search-mat-card"
      fxLayout="row"
      fxLayoutAlign="space-around center"
    > <button mat-icon-button [disableRipple]="true" matTooltip="search" >
      <mat-icon class="searchIcon">search</mat-icon>
    </button>
    <input
    (input)="onKey($event)"
    class="searchInput"
    type="text"
    placeholder="Search..."
    [(ngModel)]="searchTerm"
  />
<!--      wishlist   -->
    </mat-card>
        <div class="wishDiv"  fxLayout="row" fxLayoutAlign="start end" style="margin-left: 23%;">
          <button class="fav" mat-icon-button>
            <mat-icon  mat-button color="white" matBadge="{{ wishitem }}"  MatBadgeSize="small" style="backface-visibility: hidden" (click)="openDialog()" color="white" MatBadgeSize="small" matTooltip="WishList">favorite</mat-icon></button>
        </div>
<!--    end of wishlist -->
    <div  fxLayout="row" fxLayoutAlign="start end"  >
        <button class="cart" mat-icon-button (click)="onCart()" >Cart
          <mat-icon color="white" matBadge="{{ item }}"  MatBadgeSize="small" matTooltip="cart">shopping_cart</mat-icon></button><br/>
        </div>
      <!-- user profile pic -->
<!--    <button class="imageSelect" mat-icon-button [matMenuTriggerFor]="menu1" matTooltip="User Account"  >-->
<!--      <mat-icon color="white">account_box</mat-icon></button>-->
      <button mat-mini-fab class ="imageSelect" [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover','width':'52px','height':'52px'}"
      [matMenuTriggerFor]="menu1" colour="basic" matTooltip="User Account"
      [matTooltipClass]="'my-tooltip'" fxLayout="row" fxLayoutAlign="end center">
    </button>

    <mat-menu id="profile" #menu1="matMenu" class="menu-button" fxLayout="row" fxLayoutAlign="end start">
      <div class="backgroundimage">
        <button (click)="$event.stopPropagation()"
          [ngStyle]="{'background-image':'url(' +img+ ')',positionAlign: 'center', 'background-size':'cover','width':'98px','height':'98px'}"
          (click)="imageSelectFile.click()" matTooltip="{{username}}" mat-mini-fab class="imageSelect">
          <mat-icon class="icons" matSuffix>add_a_photo</mat-icon>
        </button>
      </div>
      <div>
          <div class="mat-subheading-1" style="font-weight: bold;" >{{username}}</div>
          <div class="mat-subheading-1">{{usermail}}</div>
      </div>
      <input fxHide class="image" type="file" (change)="fileUpload($event)" #imageSelectFile enctype="multipart/form-data/" >
      <mat-divider style="margin-top: auto;"></mat-divider>
      <div fxLayoutAlign="center center" *ngIf="!isLogin">
        <button class="delete" mat-flat-button (click)="signup()">SignUp </button>
        <button class="login" mat-flat-button (click)="signin()">LogIn </button>
      </div>
        <div fxLayoutAlign="center center" *ngIf="isLogin">
          <button class="delete" mat-flat-button (click)="delete()">Delete </button>
          <button class="signout" mat-flat-button (click)="Logout()">Sign out </button>
        </div>
    </mat-menu>
    </mat-toolbar>

    <router-outlet></router-outlet>
    <mat-card class="footer" flex>
      <div>
        <p class="footerText">
          Copyright © 2020, Bookstore Private Limited. All Rights Reserved
        </p>
      </div>
    </mat-card>
  </div>
