
<div
  class="main-div"
  fxLayoutGap="40px"
  fxLayout.lt-sm="column"
  fxLayout.sm="row wrap"
  fxLayoutAlign.sm="start center"
  fxLayout.md="row wrap"
  fxLayoutAlign.md="start center"
  fxLayoutAlign.lt-sm="center center"
  fxLayout.lg="row wrap"
  fxLayoutAlign.lg="start start"
>
  <div *ngFor="let book of books  | bookFilter:searchTerm | paginate: { itemsPerPage: 4, currentPage: page, id: 'first' } " style="margin: 0px; " fxLayout="row" >
    <mat-card>

     <div class="bookImageDiv" fxLayoutAlign="center">
        <img src="{{ book.bookImgUrl }}" />
      </div>

      <div class="bookInfoDiv" fxLayout="column">
        <div class="input-title">
          {{ book.bookName }}
        </div>
        <div fxlayout="row" class="input-author">by {{ book.authorName }}</div>
        <div fxlayout="row" (click)="onUpdateBookForm(book)">
          <span class="input-price-span">Rs. {{ book.price }}</span>
        </div>

<!--        button        -->
        <div fxLayout="row" fxLayoutAlign="space-between">
          <button
            class="delete-button"
            mat-raised-button
            fxLayoutAlign="center"
            [disableRipple]="true"
            (click)="onDeleteBook(book.bookId)"
          >
            DELETE
          </button>
          <button
            class="update-button"
            mat-raised-button
            fxLayoutAlign="center"
            [disableRipple]="true"
            (click)="onUpdateBookForm(book)"
          >
            UPDATE
          </button>
        </div>
        <div *ngIf="book.forApproval === false"
          fxLayout="row" fxLayoutAlign="space-between">
          <button
            style="
          height: 32px;
          width: 100%;
          margin-top: 8px;
          background-color: #a03037;
          border-radius: 2px;
          color: whitesmoke;
          text-align: center;"

            mat-raised-button
            fxLayoutAlign="center"
            [disableRipple]="true"
            (click)="applyForApproval(book.bookId)"
          >
            Request For Approval
          </button>
        </div>
        <div *ngIf="book.forApproval === true && book.verfied === false && book.disapproved === false"
             fxLayout="row" fxLayoutAlign="space-between">
          <button
            style="
          height: 32px;
          width: 100%;
          margin-top: 8px;
          background-color: lightseagreen;
          border-radius: 2px;
          color: whitesmoke;
          text-align: center;"
            mat-raised-button
            fxLayoutAlign="center"
            [disableRipple]="true"
          >
            Requested For Approval
          </button>
        </div>
<!--        disapproved -->
        <div *ngIf="book.disapproved === true">
          <div style="
          height: 32px;
          width: 100%;
          margin-top: -250px;
          background-color: darkred;
          border-radius: 2px;
          color:white;
          text-align: center;
          opacity: 90%;
        ">
            Disapproved
          </div>
        </div>
<!--        height: 32px;-->
<!--        width: 100%;-->
<!--        margin-top: -250px;-->
<!--        background-color: darkgreen;-->
<!--        border-radius: 2px;-->
<!--        color:white;-->
<!--        text-align: center;-->
<!--        opacity: 90%;-->
        <div *ngIf="book.verfied === true">
          <div style="
          height: 26px;
          width: 88%;
          margin-top: -118px;
          background-color: darkgreen;
          border-radius: 1px;
          color: white;
          text-align: center;
          opacity: 100%;
          margin-left: 10px;
        ">
            Verified
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<div class="paginator">
  <pagination-controls align="center"
    (pageChange)="page = $event"
    id="first"
  ></pagination-controls>
</div>
